{% extends "base.html.twig" %}

{% block title %}Главная страница{% endblock %}

{% block body %}

    <h1>Добро пожаловать!</h1>
        {% if isUser %}
            <h2>Дорогой {{ isUser.getEmail }}</h2>
            <a href="/logout">Выход</a>
        {% else %}
            <h2>Дорогой Гость</h2>
            <hr>
            <p>Пожалуйста <a href="{{ path('auth') }}"> авторизуйтесь</a> или <a href="{{ path('app-sign-up') }}"> зарегистрируйтесь</a></p>
        {% endif %}

{% endblock %}


