{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile Page</h1>
    {{ user.getEmail }}
    <br>
    <br>
    Привязать свои соц. сети к профилю
    <hr>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Finclude_social;mobilebuttons=0;"></div>
{% endblock %}

{% block title %}

{% endblock %}

